{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="custom_transfer/" method="POST">
            {% csrf_token %}
	    <label for="amount">Transfer custom to selected vendor</label>
            <input type="text" id="amount" name="amount" required>
	    <select name="vendor" id="vendor">
	    {% for object in cl.result_list %}
	    <option value={{object.vendor_name}}> {{object.vendor_name}}</option>
	    {% endfor %}
	    </select>
                 <input type="submit">
        </form>

    </div>
    <br />

    {{ block.super }}
{% endblock %}
