{% extends "base.html" %}
{% load static %}
{% block content %}
 <br>
<br>
 <div class="container">
{% if not_connected %}
    <h2>Connect with Stripe before checking out</h2>
    <table class="table">
<br>
<br>

<a href="{% url 'ecom_portal:stripe-connect' %}" class="stripe-connect"><span>Connect with</span></a>
{% endif %}
<h2>
Past Orders
</h2>
   {% for order in object %}
  
    <tr>
      <th scope="row">{{order.ordered_date}}</th>
      <td>${{order.get_total}}</td>
      <td><a href="{% url 'ecom_portal:past-order' order.id %}">details</a></td>
    </tr>
    {% empty %}
    <td colspan='5'>You have no previous orders
    </td>
{% endfor %}
    <tr>
     <td colspan='5'>
        <a class='btn btn-primary float-right' href="{% url 'ecom_portal:home' %}">Continue Shopping</a>
   {% if is_vendor  %}
<a class='btn btn-primary float-right' href="/vendor-admin">Vendor Profile</a>
   {% else %}
   <a class='btn btn-primary float-right' href="{% url 'ecom_portal:vendor_sign_up' %}">Request to be a vendor</a>
   {% endif %}   
</td>
 </tr>
  </table>
<br>
  </div>


{% endblock content %}
